on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
      - hotfix/*
permissions:
  id-token: write
  contents: write
jobs:
  build-maven:
    name: Build Maven
    uses: ./.github/workflows/build-maven.yml
    with:
      version: 61.${{ github.run_number }}.${{ github.run_attempt }}
      java_version: 21
      java_distribution: "corretto"

  build-docker:
    name: Build Docker
    uses: ./.github/workflows/build-docker.yml
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' ||startsWith(github.ref, 'refs/heads/hotfix/')
    with:
      version: 61.${{ github.run_number }}.${{ github.run_attempt }}
      image_name: "truemark/helloworld-java"
    secrets:
      aws_assume_role: ${{ secrets.AWS_ASSUME_ROLE }}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    needs: [ build-maven ]

  cdk-diff-stage:
    if: github.ref == 'refs/heads/develop' || startsWith(github.ref, 'refs/heads/hotfix/')
    name: CDK diff to Stage
    uses: ./.github/workflows/cdk-diff.yml
    with:
      environment: "stage"
    secrets:
      aws_assume_role: ${{ secrets.AWS_ASSUME_ROLE }}
    needs: [ build-maven ]

  cdk-deploy-stage:
    if: github.ref == 'refs/heads/develop' || startsWith(github.ref, 'refs/heads/hotfix/')
    name: CDK deploy to Stage
    uses: ./.github/workflows/cdk-deploy.yml
    with:
      environment: "stage"
    secrets:
      aws_assume_role: ${{ secrets.AWS_ASSUME_ROLE }}
    needs: [ cdk-diff-stage ]

  eks-deploy-stage:
    if: github.ref == 'refs/heads/develop' || startsWith(github.ref, 'refs/heads/hotfix/')
    name: EKS deploy to Stage
    uses: ./.github/workflows/eks-deploy.yml
    with:
      environment: "stage"
    needs: [ cdk-deploy-stage ]

  cdk-diff-prod:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/hotfix/')
    name: CDK diff to Prod
    uses: ./.github/workflows/cdk-diff.yml
    with:
      environment: "prod"
    secrets:
      aws_assume_role: ${{ secrets.AWS_ASSUME_ROLE }}
    needs: [ build-docker ]

  cdk-deploy-prod:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/hotfix/')
    name: CDK deploy to Prod
    uses: ./.github/workflows/cdk-deploy.yml
    with:
      environment: "prod"
    secrets:
      aws_assume_role: ${{ secrets.AWS_ASSUME_ROLE }}
    needs: [ cdk-diff-prod ]

  eks-deploy-prod:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/hotfix/')
    name: EKS deploy to Prod
    uses: ./.github/workflows/eks-deploy.yml
    with:
      environment: "prod"
    secrets:
      aws_assume_role: ${{ secrets.AWS_ASSUME_ROLE }}
    needs: [ cdk-deploy-prod ]
